<div class="row">
  <div class="col-12">
    <!-- <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
      style="margin: 10px"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
      </div>

      <div class="carousel-inner">
        <ng-container *ngFor="let popolar of listMovie; let i = index">
          <div class="carousel-item active">
            <img [src]="errImg" class="d-block w-100" height="500" />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ popolar.title }}</h5>
              <p>{{ popolar.overview }}</p>
            </div>
          </div>
        </ng-container>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
  </div>
</div>

<!-- ค้นหา -->
<div class="col-12" style="margin-top: 30px">
  <div class="row" style="margin: 15px">
    <div class="col-md-2 col-sm-6 col-xl-2">
      <label style="margin: 10px">ค้นหาชื่อของภาพยนต์ :</label>
    </div>
    <div class="col-md-10 col-sm-6 col-xl-8">
      <div style="width: 100%">
        <div class="input-group rounded">
          <input
            type="search"
            class="form-control rounded"
            placeholder="ค้นหาชื่อ"
            aria-label="Search"
            aria-describedby="search-addon"
            (input)="searchMovie($event)"
          />

          <div
            class="card"
            style="
              color: white;
              background: linear-gradient(
                225deg,
                rgba(1, 31, 58, 1) 16%,
                rgba(7, 70, 83, 1) 75%
              );
              width: 150px;
            "
          >
            <div class="row" style="margin: 10px">
              <div class="col-md-3 col-sm-4">
                <i class="bi bi-search"></i>
              </div>
              <div class="col-mb-9 col-sm-8">
                <label style="margin-left: 0px">search</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-mb-9 col-sm-12 col-xl-2" >
      <div class="row">
        <div class="col-8">
          <label style="margin: 10px 0px 10px 30px">ตระกร้าสินค้า</label>
        </div>
        <div class="col-4">
          <a target="_blank" rel="noopener" title="Basket">
            <div style="position: relative">
              <div class="card card-basket">
                <i
                  class="bi bi-basket"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                  style="font-size: 25px; text-align: center; cursor: pointer"
                ></i>
              </div>

              <div class="card unitText" *ngIf="unit !== 0">
                <label>{{ unit }}</label>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- รายการหนังทั้งหมด -->
<div class="col-mb-12 col-sm-12 col-xl-12">
  <div class="row">
    <div style="margin-bottom: 30px">
      <span style="font-size: 25px">รายการหนังทั้งหมด</span>
    </div>
    <div>
      <div class="row">
        <ng-container *ngFor="let list of listMovie; let i = index">
          <div
            class="col-md-4 col-sm-6 col-xl-2"
            style="margin-bottom: 20px; pointer-events: all; cursor: pointer"
            (click)="selectMovie(list.id)"
          >
            <div class="row">
              <div class="col-sm-12 col-mb-12 col-xl-12">
                <div style="position: relative">
                  <img
                    src="assets\imgs\testimg.jpg"
                    height="250"
                    width="180"
                    style="border-radius: 10px"
                  />
                  <div *ngIf="list.original_language === 'en'">
                    <img
                      src="assets\imgs\od8z68jkkuXB1zo7A3U-o.png"
                      height="20"
                      width="30"
                      style="position: absolute; top: 15px; left: 160px"
                    />
                  </div>
                  <div *ngIf="list.popularity >= 800">
                    <img
                      src="assets\imgs\Gold-Star-PNG-Photos.png"
                      alt=""
                      height="30"
                      width="30"
                      style="position: absolute; top: 40px; left: 160px"
                    />
                  </div>
                </div>
              </div>

              <div class="col-md-12 col-sm-6" style="margin-top: 10px">
                <label style="font-size: 15px; cursor: pointer">{{
                  list.title
                }}</label>
              </div>
              <div class="col-md-12 col-sm-6">
                <label style="font-size: 12px; cursor: pointer"
                  >Release {{ list.release_date }}</label
                >
              </div>
              <div style="position: absolute">
                <div class="card card-a">
                  <div class="col-md-12 col-sm-6">
                    <label style="font-size: 15px; cursor: pointer">{{
                      list.vote_average
                    }}</label>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="card basketList">
                <div>
                  <i class="bi bi-basket"></i>
                </div>
              </div> -->
          </div>
        </ng-container>
      </div>
      <!-- {{ listMovie | json }} -->
    </div>
  </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">สรุปรายการสินค้า</h5>
        <button
          type="button"
          class="close btn btn-danger"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="modal-body">ชื่อสินค้า</div>
        </div>
        <div class="col-6">
          <div class="modal-body" style="text-align: center">ราคา</div>
        </div>
        <hr />
      </div>
      <div class="ex1">
        <ng-container *ngFor="let item of basket">
          <div class="row" style="margin: 10px">
            <div class="col-8">
              <div class="modal-body">{{ item.title }}</div>
              <hr />
            </div>
            <div class="col-4" style="text-align: center">
              <div class="modal-body">{{ item.price }}</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="row" style="margin: 10px">
        <div class="col-6">
          <label>สรุปราคาสินค้า</label>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="modal-body" style="text-align: center">
              {{ cal() }}
            </div>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 50px"></div>

      <div class="modal-footer">
        <div style="position: absolute; left: 15px">
          <button
            type="button"
            class="btn btn-danger"
            (click)="clanBasket()"
            data-dismiss="modal"
          >
            <i class="bi bi-stars"> </i>ล้างตะกร้าสินค้า
          </button>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="submit()"
          data-dismiss="modal"
        >
          ดำเนินการต่อ
        </button>
      </div>
    </div>
  </div>
</div>
