.card-herderSlider {
  margin: 10px;
  height: 200px;
  width: 150px;
}
.card-herderTitle {
  margin: 10px;
  height: 300px;
  width: 70%;
}
.card-footer {
  margin: 10px;
  height: 400px;
  width: 99%;
  background: linear-gradient(
    225deg,
    rgba(1, 31, 58, 1) 36%,
    rgba(7, 47, 83, 1) 75%
  );
}
.basketList {
  position: relative;
  width: 45px;
  height: 30px;
  text-align: center;
  background: green;
  color: white;
  font-size: 18px;
}
.card-a {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background: linear-gradient(
    120deg,
    rgba(195, 191, 34, 1) 18%,
    rgba(253, 187, 45, 1) 100%
  );

  text-align: center;
  box-shadow: orange 1px 1px 7px;
  color: white;
}
.card-basket {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: rgba(1, 31, 58, 1);
  box-shadow: rgba(1, 31, 58, 1) 1px 1px 7px;
}
.unitText {
  position: absolute;
  top: -4px;
  right: -5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  background-color: red;
  color: #ffffff;
}
.ex1 {
  background-color: rgb(235, 234, 234);
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
