.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    225deg,
    rgba(1, 31, 58, 1) 36%,
    rgba(7, 47, 83, 1) 75%
  );
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
.card-basket {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: rgba(1, 31, 58, 1);
}
.unitText {
  position: absolute;
  top: -4px;
  right: -5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  background-color: red;
  color: #ffffff;
}
