<!-- Toolbar -->
<div class="container">
  <div class="toolbar" role="banner" style="padding: 0px 90px 0px 90px">
    <img
      width="150"
      alt="Angular Logo"
      src="assets\imgs\322978847_864244368183797_5008533857458576793_n.png"
      routerLink="/"
      style="cursor: pointer"
    />
    <!-- <span>SmartMovie</span> -->
    <div class="spacer"></div>
  </div>
</div>
