<div class="herder"></div>
<ng-container *ngFor="let list of listMovie">
  <div style="margin-top: 30px">
    <span routerLink="" style="cursor: pointer; color: rgba(1, 31, 58, 1)"
      >หน้าหลัก >
    </span>
    <span style="font-size: 20px"> {{ list.title }}</span>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col-sm-4 col-md-4 col-xl-4">
      <img
        src="assets\imgs\testimg.jpg"
        alt=""
        height="465"
        width="300"
        style="border-radius: 10px"
      />
    </div>
    <div class="col-sm-8 col-md-8 col-xl-8">
      <div class="card card-detail">
        <h3>{{ list.title }}</h3>
        <hr />
        <div>
          <div class="row">
            <div class="col-sm-2 col-md-4 col-xl-2">
              <label>overview</label>
            </div>
            <div class="col-sm-10 col-md-8 col-xl-10" style="margin-top: 10px">
              <label>{{ list.overview }}</label>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-2 col-md-2 col-xl-2">
            <label>Average :</label>
            <label style="margin-left: 10px">{{ list.vote_average }}</label>
          </div>
          <div class="col-sm-3 col-md-3 col-xl-3">
            <label>Popularity :</label>
            <label style="margin-left: 10px">{{ list.popularity }}</label>
          </div>
          <div class="col-sm-4 col-md-4 col-xl-4">
            <label>Release Date :</label>
            <label style="margin-left: 10px">{{ list.release_date }}</label>
          </div>
          <div class="col-sm-3 col-md-3 col-xl-3">
            <label>Vote count :</label>
            <label style="margin-left: 10px">{{ list.vote_count }}</label>
          </div>
        </div>
        <hr style="margin: 30px 0" />
        <div>
          <div class="row">
            <div class="col-sm-8 col-md-8 col-xl-8">
              <div class="row">
                <div class="col-4">
                  <label>Price :</label>
                </div>
                <div class="col-8">
                  <div class="input-group">
                    <input
                      type="number"
                      class="form-control"
                      [placeholder]="list.price ? list.price : '0.00'"
                      aria-label="Dollar amount (with dot and two decimal places)"
                      (input)="onKey($event)"
                    />

                    <span class="input-group-text">฿</span>
                  </div>
                </div>
                <!-- <span class="input-group-text">0.00</span> -->
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4" style="text-align: end">
              <button class="btn btn-primary" (click)="addBasket()">
                <i
                  class="bi bi-basket"
                  style="font-size: 18px; text-align: center"
                ></i>
                Add to Basket
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<div>
  <div class="footer"></div>
</div>
