<div class="container">
  <div class="row">
    <div class="col-12" style="z-index: 9999">
      <app-app-herder></app-app-herder>
    </div>
    <div class="col-12" style="margin-top: 50px">
      <div class="contariner">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-12">
      <div class="footer" style="height: 100px"></div>
    </div>
  </div>
</div>
