<div style="margin-top: 30px">
  <span
    routerLink=""
    style="cursor: pointer; color: rgba(1, 31, 58, 1)"
    (click)="cleanTime()"
    >หน้าหลัก >
  </span>
  <span style="font-size: 20px">ชำระเงิน</span>
</div>
<div style="margin-top: 10px">
  <div class="row">
    <div class="col-12">
      <div class="card card-main">
        <div class="row" style="margin: 10px">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <h2>ชำระเงิน</h2>
            <hr />
          </div>
          <div class="col-sm-4 col-md-4 col-xl-4">
            <label>รายการหนังทั้งหมด</label>
          </div>
          <div class="col-sm-4 col-md-4 col-xl-4">
            <label>ราคาทั้งหมด</label>
          </div>
          <div class="col-sm-4 col-md-4 col-xl-4" style="text-align: center">
            <label>จัดการ</label>
          </div>
          <ng-container *ngFor="let list of basket">
            <div class="card card-detail">
              <div class="row">
                <div class="col-sm-4 col-md-4 col-xl-4">
                  <label>{{ list.title }}</label>
                </div>
                <div class="col-sm-4 col-md-4 col-xl-4">
                  <label>{{ list.price }} บาท</label>
                </div>
                <div
                  class="col-sm-4 col-md-4 col-xl-4"
                  style="text-align: center"
                >
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteMovie(list.id)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
          <hr style="margin: 20px 0px" />

          <div class="col-sm-6 col-md-6 col-xl-6">
            <h4>ราคารวมทั้งหมด</h4>
          </div>
          <div
            class="col-sm-6 col-md-6 col-xl-6"
            style="text-align: end; padding-right: 80px"
          >
            <h2>{{ calPrice() }} บาท</h2>
          </div>
          <div
            class="col-sm-12 col-md-12 col-xl-12"
            style="text-align: end; padding-right: 80px; color: red"
          >
            <ng-container *ngIf="unit >= 3 && unit < 5">
              <h4>ลด 10 %</h4>
            </ng-container>
            <ng-container *ngIf="unit >= 5">
              <h4>ลด 20 %</h4>
            </ng-container>
          </div>
          <div
            class="col-sm-6 col-md-6 col-xl-6"
            style="text-align: start; margin: 20px 0px"
          >
            <hr />
            <label> กรุณาตรวจสอบข้อมูลการชำระเงิน </label>
          </div>
          <div
            class="col-sm-6 col-md-6 col-xl-6"
            style="text-align: end; padding-right: 80px; margin: 20px 0px"
          >
            <hr />
            <button
              type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#exampleModal"
              (click)="timePrice()"
              [disabled]="basket.length == 0"
            >
              ชำระเงิน
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  style="margin-top: 10%"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ดำเนินการชำระเงิน</h5>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          aria-label="Close"
          (click)="cleanTime()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12" style="text-align: center">
            <img src="assets\imgs\PromptPay-logo.png" width="250px" />
          </div>
          <div class="col-sm-12 col-md-12 col-xl-12" style="text-align: center">
            <img src="assets\imgs\grw_qr_code_example_width_3cm.jpg" />
          </div>
          <div class="col-sm-12 col-md-12 col-xl-12" style="text-align: center">
            <div style="font-size: 20px">
              <span>กรุณาตรวจสอบข้อมูลการชำระเงิน</span>
            </div>
            <div>
              <span>ชำระเงินภายในเวลาที่กำหนด</span>
            </div>
            <div style="font-size: 25px">
              <span>{{ time }} วินาที</span>
              <!-- <span>{{ timePrice() }}</span> -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="cleanTime()"
        >
          ปิด
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          aria-label="Close"
          (click)="submit()"
        >
          ยืนยันการชำระเงิน
        </button>
      </div>
    </div>
  </div>
</div>
