.card-detail {
  margin: 10px 0px 0px 0px;
  padding: 20px;
  border-radius: 20px;
  background-color: whitesmoke;
  height: 80px;
}
.card-main {
  border-radius: 20px;
  box-shadow: grey 2px 5px 5px;
  margin: 20px 10px;
}
